.launching_soon {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
    h1 {
        color: white;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 5em;
        line-height: 144px;
        mix-blend-mode: normal;
        z-index: 5;
    }
}

.eclipse1 {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -100px;
    left: -100px;
    background: linear-gradient(157.28deg, rgba(148, 38, 186, 0) 40.63%, #9426BA 79.18%);
    border-radius: 1000px;
    // z-index: 1;
}

.timer_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    .countdown_container {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        margin-right: 25px;
        h2 {
            color:white;
            text-align: center;
            margin-top: 5px;
        }
        .glass_container {
            display: flex;
            flex-direction: row;
            .timer {
                width: 100px;
                height: 160px;
                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 100%);
                opacity: 0.5;
                border: 0.5px solid #FFFFFF;
                backdrop-filter: blur(65px);
                border-radius: 5px;
                margin: 7px;
            }
        }
        
    }
    
}
